/* ==UserStyle==
@name         Wide-Habr
@namespace    idma88.wide-habr
@description  Increasing the width of content and comments on Habr
@author       idma88 <idma88@yandex.ru> (https://github.com/idma88)
@homepageURL  https://github.com/idma88/stylus-for-site/blob/master/wide-habr.styl
@updateURL    https://raw.githubusercontent.com/idma88/stylus-for-site/master/wide-habr.styl
@preprocessor stylus
@version      1.0.3
@license      MIT
==/UserStyle== */

.layout__cell, .tm-page-width, .tm-post-presenter {
    max-width: 1464px !important;
}

.tm-article-presenter, .tm-article-presenter__footer, .tm-article-snippet__cover_cover {
    max-width: none;
}
